* {
	box-sizing:border-box;
	/*font-style:0;*/
}

img{

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#main-container{
	border-radius: 5%;
	text-align: center;
	margin: 5% 20%;
	position: absolute;
	display: inline-block;
	color: black;
	/* background-color: #ffffff;  */
	opacity: 0.6;
	filter: alpha(opacity=60);
	width:60%;
}

#search{
	margin-top:15px;
	position:relative;
}

.temp{
	color:white;
	margin:0% auto;
}

.navButtons{
	border:1px solid black;
}

.weatherContainer div{
display: inline-block;
/*color: black;*/
/*margin: 30px;
*/ 
margin:2%;
background-color: #ffffff; 
opacity: 0.6;
filter: alpha(opacity=60);

}

.weatherContainer h1{
	font-size:21px;
	margin-right:2%;
}
.weatherContainer p{
	color:white;
	font-size:40px;
	margin:auto;
	display:block;
}

.weatherContainer ul{
	list-style-type:none;
	color:black;
	width:10%;
}

.dayBox div{
	padding:5px;
}

.weatherContainer p.hrTitle{
	color:black;
}

/*#hrId{
margin:2%;
background-color: #ffffff; 
opacity: 0.6;
filter: alpha(opacity=60);

height: 345px;
width: 250px;
overflow: scroll;
border:1px black;
}*/